mixin icon(url, width, height)
  - height_ = height || width
  svg(viewBox=`0 0 ${width} ${height_}` class="icon" width=width height=height_)&attributes(attributes)
    use(xlink:href=`${url}.svg`)

.gaussian
  svg.equation: g
  .matrix: slot(name="matrix")
  .rows: slot(name="rows")
  .nav
    .btn.back.hide: +icon('left', 24)
    .btn.next: +icon('right', 24)
  .legend-box: slot
