
mixin frac(a,b)
  span.frac
    span!= a
    span!= b

mixin blank(choices)
  x-blank(choices=choices)

mixin var(content, bind)
  if bind
    x-var(bind=bind)= '${' + content + '}'
  else
    span.var= '${' + content+ '}'

mixin input(answer)
  x-blank(input=answer)

mixin target(to)
  x-target(to=ids)
