
mixin frac(a,b)
  span.frac
    span!= a
    span!= b

mixin blank(choices)
  x-blank(choices=choices)

mixin var(content, value, scope)
  if scope
    x-var(scope=scope, value=value)!= content
  else if value
    x-var(value=value)!= content
  else
    x-var!= content

mixin input(answer)
  x-blank(input=answer)

mixin target(to)
  x-target(to=ids)
