
mixin frac(a,b)
  span.frac
    span!= a
    span!= b

mixin blank(choices)
  x-blank(choices=choices)

mixin var(bind)
  if bind
    x-var(bind=bind)
      | ${
      block
      | }
  else
    span.var
      | ${
      block
      | }

mixin input(answer)
  x-blank(input=answer)

mixin target(to)
  x-target(to=ids)

mixin intro()
  .chapter-intro
    span.user Remember to #[x-target(to=".nav-link.dropdown-title") login] to save your progress and get personalised content.
    | &nbsp;
    span.size This textbook works best on larger devices like tablets or laptops.

mixin emoji(n)
  img.emoji(width=20 height=20 src="/images/emoji/#{n}.png")
