
mixin frac(a,b)
  span.frac
    span!= a
    span!= b

mixin blank(choices)
  x-blank(choices=choices)

mixin var(choices)
  // span.popup.blank(data-choices=choices)

mixin input(answer)
  x-blank(input=answer)

mixin target(to)
  x-target(to=ids)
