mixin icon(url, width, height)
  - height = height || width
  svg(viewBox="0 0 " + width + ' ' + height, class="icon", width=width, height=height)
    use(xlink:href="/icons.svg#" + url)

doctype html
html
  head
    meta(charset="utf-8")
    title= course.title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,400i,600i' rel='stylesheet' type='text/css')
    link(href='/course.css', rel='stylesheet')
    link(href='/resources/' + course.id + '/styles.css', rel='stylesheet')

  body
    include components.html

    header
      #logo
        +icon('logo', 36)
        +icon('title', 100, 36)

    .body
      x-course(id=course.id)
        .sidebar(style=`background-color: ${course.color}`)
          .sidebar-hero(style=`background-image: url(/resources/${course.id}/hero.jpg)`)
            .sidebar-hero-gradient
            .sidebar-title= course.title

          .sidebar-body
            for s in course.sections
              if s.id === section.id
                .sidebar-row.on
                  x-progress(r=10 p=0)
                  | #{s.title}
                  .connection
              else
                a.sidebar-row(href=`/course/${course.id}/${s.id}`)
                  x-progress(r=10 p=0)
                  | #{s.title}
                  .connection

        .sidebar-shadow
        .sidebar-toggle: +icon('progress', 24)

        article(class=section.background)
          if section.background
            .page-background
          h1= section.title
          .show-all-steps.off #[+icon('book', 20)] Reveal All Steps
          div!= course.getSectionHTML(section.id)

          footer
            p.skip-step
              | To reveal more content, you have to complete all the activities and exercises above.&nbsp;
              br
              strong Are you stuck? #[a.skip Skip to the next step] or #[a.show-all reveal all steps]
              svg(width=72 height=10): path(d="M1 1L36 9L71 1" fill="none" stroke="#aaa" stroke-width=2)

            - var next = course.getNextLink(section.id)
            if next
              a.next-section(href=`/course/${course.id}/${next.id}` title=next.title)
                .small Next up:
                .title= next.title

        x-tutor

        script(type="application/json")#glossary!= course.getJSON('glossary')
        script(type="application/json")#bios!= course.getJSON('bios')
        script(type="application/json")#hints!= course.getJSON('hints')
        script(type="application/json")#userdata {}

    script user = null;
    script(src='/polyfill.js')
    script(src='/resources/' + course.id + '/functions.js')
    script(src='/course.js')
