mixin icon(url, width, height)
  - height = height || width
  svg(viewBox="0 0 " + width + ' ' + height, class="icon", width=width, height=height)
    use(xlink:href="/icons.svg#" + url)

doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,400italic' rel='stylesheet' type='text/css')
    link(href='/course.css', rel='stylesheet')
    link(href='/resources/' + id + '/styles.css', rel='stylesheet')

  body
    include components.html

    header
      #logo
        +icon('logo', 36)
        +icon('title', 100, 36)

    .body
      x-chapter(data-id=id)

        x-parallax.hero(background=`/resources/${id}/images/hero.jpg`)
          .hero-shadow
          .hero-wrap: .container: .hero-title
            h1
              img(width=80, height=80, src=`/images/courses/${id}.png`)
              | #{title}
            .subtitle= description

        article!= html

        footer.chapter-footer: .container
          .completed-box
            .certificate
              svg(viewBox="0 0 100 100" class="sketch sketch-scroll", width=100, height=100)
                use(xlink:href="/sketch.svg#scroll")
              div
                p Outstanding!
                p Chapter completed
          p.next-banner
            | To reveal more content, you have to complete all the activities and exercises above.&nbsp;
            br
            strong Are you stuck? #[a.skip Skip to the next step]
            svg(width=72 height=10): path(d="M1 1L36 9L71 1" fill="none" stroke="#aaa" stroke-width=2)

        script(type="application/json")#glossary!= glossary
        script(type="application/json")#bios!= bios
        script(type="application/json")#hints!= hints
        script(type="application/json")#userdata {}

    script user = null;
    script(src='/polyfill.js')
    script(src='/resources/' + id + '/functions.js')
    script(src='/course.js')
