template#enigma
    .enigma#enigmaview
      .lightboard#lightboard
        for key in 'QWERTZUIO'.split('')
          .key= key
        for key in 'ASDFGHJK'.split('')
          .key= key
        for key in 'YXCVBNML'.split('')
          .key= key

      .keyboard#keyboard
        for key in 'QWERTZUIO'.split('')
          .key= key
        for key in 'ASDFGHJK'.split('')
          .key= key
        for key in 'YXCVBNML'.split('')
          .key= key
  
      .plugboard#plugboard
          <svg id="target">			
            <path class="plugcable" id="path0" />
            <path class="plugcable" id="path1" />
            <path class="plugcable" id="path2" /> 
            <path class="plugcable" id="path3" />
            <path class="plugcable" id="path4" />
            <path class="plugcable" id="path5" />
            <path class="plugcable" id="path6" />
            <path class="plugcable" id="path7" />
            <path class="plugcable" id="path8" />
            <path class="plugcable" id="path9" />
          </svg>
          
          .plug#plugQ Q
          .plug#plugW W
          .plug#plugE E
          .plug#plugR R
          .plug#plugT T
          .plug#plugZ Z
          .plug#plugU U
          .plug#plugI I
          .plug#plugO O
          
          .plug#plugA A
          .plug#plugS S
          .plug#plugD D
          .plug#plugF F
          .plug#plugG G
          .plug#plugH H
          .plug#plugJ J
          .plug#plugK K

          .plug#plugY Y
          .plug#plugX X
          .plug#plugC C
          .plug#plugV V
          .plug#plugB B
          .plug#plugN N
          .plug#plugM M
          .plug#plugL L